body {
	box-sizing: border-box;
}

.TableContainer {
	width: 100%;
	display: table;
}

.TableHeader {
	display: table-header-group;
	text-align: left;
	background-color: #b5d2eb;
	font-weight: 600;
}

li {
	display: table-cell;
	position: sticky;
	top: 0;
	padding: 20px 0 15px 10px;
	background-color: #b5d2eb;
	color: rgb(82, 82, 82);
	font-weight: 600;
	list-style-type: none;
}

.TableBody {
	display: table-row-group;
}

div.TableRow {
	text-align: left;
	display: table-row;
	font-size: 0.9em;
}

.TableRow span {
	display: table-cell;
	border-bottom: solid 1px #afb8bf;
}

.Name,
.Number,
.Email,
.Age {
	padding: 0 0 10px 10px;
}

img {
	margin: 10px 0 -5px 10px;
}

.col-resizer {
	background-color: #afb8bf;
	padding: 0 0.5px;
	height: 30px;
}

.SortByName:hover {
	cursor: pointer;
	background-color: #a1bad0;
	color: white;
	font-weight: 700;
	transition: ease-in-out 0.15s;
}
